<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web3-transaction</title>
</head>
<body>
<table style=" width: 100%; border: 4px double black;">
    <tr>
        <td style="border: 1px solid black; text-align: center">
            <a href="/registration">Registration</a>
        </td>
    </tr>
</table>

<form action="/transaction" method="POST">
    <p>senderName: <input type="text" name="senderName"></p>
    <p>senderPass: <input type="text" name="senderPass"></p>
    <p>count: <input type="text" name="count"></p>
    <p>nameTo: <input type="text" name="nameTo"></p>
    <input type="submit" value="submit">
</form>

</body>
</html>